.blocPhoto {

    width:100px;
    height:100px;
    border-radius:5px;
    border:1px solid #f9ecec;
    line-height:100px;

}

body {
    background-image:url("../img/bgFdb.jpg");
    background-size:   cover;
    background-repeat: no-repeat;
    background-position: left center;
}

.empty {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    height:220px;
    width:220px;
    cursor:pointer;

    border-radius:5px;
    border:1px solid #f9ecec;
    line-height:200px;
    background-color:#eee;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:url("../img/camera.png");
}

.alert {
    cursor:pointer;
}

.myLabel {
    width:70px;
}

.myInputText {
    width:100px;
}

.nbComm {
    position:absolute;
    right:3px;
    top:3px;
    font-size:8pt;
}

.nbVues {
    position:absolute;
    left:3px;
    top:3px;
    font-size:8pt;
}

.coverImg {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    background-size:   cover;
    background-repeat: no-repeat;
    height:220px;
    width:220px;
    background-position: center center;
    cursor:pointer;
}

.coverImgBig {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    background-size:   auto;
    background-repeat: no-repeat;
    height:500px;
    width:500px;
    background-position: center center;
}

.input-group-addon {
    width:130px;
}

.centre {
    margin-left: auto;
    margin-right: auto;
}

.h3 {
    font-size:20px;
    color:#428bca;
}

#menuCollapse {
    margin:0px;padding:0px;overflow:hidden;
}

#logoFDB {
    width:150px;
    height:150px;
    background-image: url("../img/facedebouk.png");
    background-size:cover;
    position:absolute;
    top:26px;
}

#inputRechTags {
    width:100%;
}

#titreSite {
    font-family: fantasy;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: none;
    border-top-width: 0px;
    color: #444;
    display: block;
    font-size: 50px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 1.6px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.0980392) 0px 6px 1px, rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.298039) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 3px 5px, rgba(0, 0, 0, 0.247059) 0px 5px 10px, rgba(0, 0, 0, 0.14902) 0px 20px 20px;
    vertical-align: baseline;
}

.input-group-addon {
    width:200px;
    text-align:left;
}

.infoBg-info {
    padding:4px;
    border-radius: 5px;
    margin-bottom:2px;
}

.linkWhite {
    color:white;
}

.thumbnailPerso {
    box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.7);
}