.blocPhoto {

    width:100px;
    height:100px;
    border-radius:5px;
    border:1px solid #f9ecec;
    line-height:100px;

}

body {
    background-image:url("../img/bgFdb.jpg");
    background-size:   cover;
    background-repeat: no-repeat;
    background-position: left center;
}

.empty {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    height:220px;
    width:220px;
    cursor:pointer;

    border-radius:5px;
    border:1px solid #f9ecec;
    line-height:200px;
    background-color:#eee;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:url("../img/camera.png");
}

.alert {
    cursor:pointer;
}

.myLabel {
    width:70px;
}

.myInputText {
    width:100px;
}

.nbComm {
    position:absolute;
    right:3px;
    top:3px;
    font-size:8pt;
}

.nbVues {
    position:absolute;
    left:3px;
    top:3px;
    font-size:8pt;
}
.nbVuesOnePhoto {
    position:absolute;
    left:20px;
    top:3px;
    font-size:8pt;
}

.coverImg {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    background-size:   cover;
    background-repeat: no-repeat;
    height:220px;
    width:220px;
    background-position: center center;
    cursor:pointer;
}

.coverImgBig {
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    background-size:   auto;
    background-repeat: no-repeat;
    height:500px;
    width:500px;
    background-position: center center;
}

.input-group-addon {
    width:130px;
}

.centre {
    margin-left: auto;
    margin-right: auto;
}

.h3 {
    font-size:20px;
    color:#428bca;
}

#menuCollapse {
    margin:0px;padding:0px;overflow:hidden;
}

#logoFDB {
    width:150px;
    height:150px;
    background-image: url("../img/facedebouk.png");
    background-size:cover;
    position:absolute;
    top:43px;
}

#inputRechTags {
    width:100%;
}

#divBlockLanguage {
    height:32px;
}

#titreSite {
    font-family: fantasy;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: none;
    border-top-width: 0px;
    color: #444;
    display: block;
    font-size: 65px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 1.6px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.0980392) 0px 6px 1px, rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.298039) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 3px 5px, rgba(0, 0, 0, 0.247059) 0px 5px 10px, rgba(0, 0, 0, 0.14902) 0px 20px 20px;
    vertical-align: baseline;
}

.input-group-addon {
    width:200px;
    text-align:left;
}

.infoBg-info {
    padding:4px;
    border-radius: 5px;
    margin-bottom:2px;
}

.linkWhite {
    color:white;
}

.thumbnailPerso {
    box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.7);
}


.tableCommentaires {
    border-radius:5px;
    background-color:white;
}

.divIncludeTabCommDuel {
    padding:10px;
    overflow-y:auto;
    height:160px;
}




textarea.dropdown-menu {
    list-style: none;
    padding: .3em 0 0;
    margin: 0;
    border: 1px solid #6E6E6E;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    font-size: inherit;
    letter-spacing: .025em;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
textarea.dropdown-menu a:hover {
    cursor: pointer;
}
textarea.dropdown-menu li {
    letter-spacing: 0;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    border:none;
}
textarea.dropdown-menu li:before {
    display: none;
}
textarea.dropdown-menu .textcomplete-footer {
    margin-top: .3em;
    background: #e6e6e6;
}
textarea.dropdown-menu .textcomplete-footer a {
    color: #999999;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 2.1818em;
    padding-left: 1.8181em;
    font-size: .84em;
}
textarea.dropdown-menu .textcomplete-footer .arrow {
    margin-left: .8em;
    font-size: 1.3em;
}
textarea.dropdown-menu li .emojione {
    vertical-align: middle;
    font-size: 1.23em;
    width: 1em;
    height: 1em;
    top: -1px;
    margin: 0 .3em 0 0;
}
textarea.dropdown-menu li a {
    display: block;
    height: 100%;
    line-height: 1.8em;
    padding: 0 1.54em 0 .615em;
    color: #4f4f4f;
}
textarea.dropdown-menu .active,
textarea.dropdown-menu li:hover {
    background: #6E6E6E;
    color: white;
}
textarea.dropdown-menu .active a,
textarea.dropdown-menu li:hover a {
    color: inherit;
}

.txtBtnVote {
    font-family: Calibri;
    font-size: 13pt;
}

.divVs {
    background-image:url("../img/vs.png");
    background-repeat:no-repeat;
    background-position: center center;
    height:350px;
}

.separateTimers {
    height:70px;
}

.separateTimers:first-of-type {
    height:0px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
